* {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: none;                   
	font-family: sans-serif;
	transition: 0.2s all ease;
}

body {
	height: 98vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: black;
}
#tetris {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-self: center;
	padding: 8px;
	gap: 6px;
	background-color: #212121;
	border: 2px solid white;
}
#tetris-grid {
	border: 2px solid white;
}
#score-boards {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	border: none;
	color: white;
	gap: 10px;
	text-align: center;
}
#score-boards div {
	height: 40px;
	width: 80px;
	border: 2px solid white;
	padding: 6px;
}
#score-boards canvas {
	height: 50px;
	width: 50px;
}
#score-boards #next {
	height: auto;
}
@font-face {
	font-family: icons;
	src: url('googlefonts1.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
#controller {
	width: 0;
	height: 40px;
	position: fixed;
	bottom: 30px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 6px;
	font-family: icons;
}
#controller button {
	height: 100%;
	width: 40px;
	position: absolute;
	border-radius: 20px;
	background-color: black;
	border: 2px solid white;
	align-items: center;
	justify-content: center;
	color: white;
}
#left-button {
	left: -142px;
	top: -20px;
}
#right-button {
	left: -58px;
	top: -20px;
}
#rotate-button {
	right: -80px;
}
#drop-button {
* {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: none;                   
	font-family: sans-serif;
	transition: 0.2s all ease;
}

body {
	height: 98vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: black;
}
#tetris {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-self: center;
	padding: 8px;
	gap: 6px;
	background-color: #212121;
	border: 2px solid white;
}
#tetris-grid {
	border: 2px solid white;
}
#score-boards {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	border: none;
	color: white;
	gap: 10px;
	text-align: center;
}
#score-boards div {
	height: 40px;
	width: 80px;
	border: 2px solid white;
	padding: 6px;
}
#score-boards canvas {
	height: 50px;
	width: 50px;
}
#score-boards #next {
	height: auto;
}
@font-face {
	font-family: icons;
	src: url('googlefonts1.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
#controller {
	width: 0;
	height: 40px;
	position: fixed;
	bottom: 30px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 6px;
	font-family: icons;
}
#controller button {
	height: 100%;
	width: 40px;
	position: absolute;
	border-radius: 20px;
	background-color: black;
	border: 2px solid white;
	align-items: center;
	justify-content: center;
	color: white;
}
#left-button {
	left: -142px;
	top: -20px;
}
#right-button {
	left: -58px;
	top: -20px;
}
#rotate-button {
	right: -80px;
}
#drop-button {
	left: -100px;
	bottom: -22px;
}
#up-button {
	top: -20px;
	left: -100px;
}
#change-button {
	right: -122px;
}
#pause-button {
	right: -38px;
}
#cheat {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	border: 2px solid white;
	background: black;
	font-size: 14px;
	color: white;
	
}
#cheat .text{
	position: absolute;
	right: -44px;
	top: 5px;
}
.cheatOff #cheat {
	background: radial-gradient(circle, white 56%,black 58%) ;
}
.cheatOff #up-button {
	display: none;
}
.cheatOff #change-button {
	display: none;
}
.cheatOff #pause-button {
	display: none;
}

.start button {
	display: none;
}
.start #start-button {
	display: block ;
	width: 200px;
}

.playing button {
	display: block;
}
.playing #start-button {
	display: none;
}

#gameOver-text {
	width: 220px;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-size: 36px;
	font-family: sans-serif;
	color: white;
	text-shadow: 10px 0px 10px #000;
}

.credit {
	position: fixed;
	bottom: 4px;
	right: 4px;
	font-size: 10px;
	color: white;
}￼Enter	left: -100px;
	bottom: -22px;
}
#up-button {
	top: -20px;
	left: -100px;
}
#change-button {
	right: -122px;
}
#pause-button {
	right: -38px;
}
#cheat {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	border: 2px solid white;
	background: black;
	font-size: 14px;
	color: white;
	
}
 .text{
	position: absolute;
	right: -44px;
	top: 5px;
}
.cheatOff #cheat {
	background: radial-gradient(circle, white 56%,black 58%) ;
}
.cheatOff #up-button {
	display: none;
}
.cheatOff #change-button {
	display: none;
}
.cheatOff #pause-button {
	display: none;
}

.start button {
	display: none;
}
.start #start-button {
	display: block ;
	width: 200px;
}

